# GPT Models
XAI_API_KEY=''

# PostgreSQL
POSTGRES_USER=[USER]
POSTGRES_PASSWORD=[PASSWORD]
POSTGRES_DB=[DB_NAME]
POSTGRES_HOST=[HOST] # Usually `postgres` for docker container
POSTGRES_PORT=[PORT] # Usually `5432`
DATABASE_URL=postgresql+psycopg://[USER]:[PASSWORD]@[HOST]:[PORT]/[DB_NAME]

# Server
UVICORN_RELOAD=true
